*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand',sans-serif;

}
body{
  height: 100vh;
  width: 100%;
  display: flex;
  background: linear-gradient(to right,#ffcc99,rgb(235, 193, 235));
  background-size: cover;
}
.container{
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
}
.signup-container{
  background-color: white;
  width: 500px;
  height: 700px;
  border-radius: 5px;
  padding: 20px;
  margin: 70px;
}
#box{
  display: flex;
  background-color: #ffcc99;
  width: 400px;
  height: 700px;
  border-radius: 5px;
  padding: 20px;
  margin-left: 20%;
  margin-top:5% ;
}
#box .container2{
  margin-right: 10px;
}
button{
  background-color: #0fc0fc;
  border-radius:5%;
  font-size: 15px;
  padding: 2%;
  color: rgb(247, 247, 247);
  text-align: center;
  border: none;
  margin-left: 20%;
  margin-bottom: 1%;
}


.fa-facebook {
  background: #c4c7c9;
  color: white;
  margin: 3%;
  padding: 2%;
}

.fa-twitter {
  background: #c4c7c9;
  color: white;
  margin: 3%;
  padding: 2%;
}


h1{
     font-size: 25px;
     padding-top: 20px;
     margin: 1px;
}
h2{
  font-family: 'Archivo Black', sans-serif;
  color: rgb(172, 104, 16);
}
h3{
  font-size: 24px ;
  font-family: 'Pacifico', cursive;
  color: rgb(172, 104, 16);
  margin: 10%;
}
h5::before,h5::after{
    content: "";
    height: 2px;
    background-color: #000;
    display: block;
}
h5{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  align-items: center;
  column-gap: 0.2rem;
  text-align: center;
}
.mt-1{
  margin-top: 1cm;
}
.mt-2{
  margin-top: 2cm;
}
a{
  text-decoration: none;
  color: rgb(51, 51, 230);
}
.form-inline-group{
  display: flex;
  flex-direction: row;
}
.form-inline-group div{
  flex: 1;
  display: flex;
  flex-direction: column;
}
.form-inline-group label,.form-group label{
  font-weight: bold;
}
.form-inline-group input,.form-group input{
  padding: 0.8em 1em;
  border-radius: 2px;
  margin-top: 5px;
  background-color: rgb(209, 206, 206);
  border: rgb(233, 230, 230);
  width: 220px;

}
.form-group{
  display: flex;
  flex-direction: column;

}
.form-group input{
  width: 90%;
}
.container h1{
  text-align: center;
  padding-top: 10%;

}
.signup-container p{
  text-align: right;
}
.footer{
  margin-top: 36%;
  color: rgb(172, 104, 16); 
  margin-left: 10%;
}
footer{
  margin-top: 5%;
  font-size: 13px;
}
img{
  margin-top: 20%;
}
.btn{
  outline: none;
  border: none;
  border-radius: 2px;
  padding: 10px;
  margin: 2px;
  color: white;
  background-color: rgb(241, 76, 159);
  padding: auto;
  flex-direction: column;
  margin-top: 5%;
}
.checkbox input{
  margin: auto;
  margin-top: 5%; 
  
}





  
